<header>
    <nav>
        <ul class="nav navbar-nav">
            <li><a href="/balance">Balance</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Payees <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/payees">Payees list</a></li>
                    <li class="divider"></li>
                    <li><a href="/payees/new">Create a new Payee</a></li>
                </ul>
            </li>
            <li><a href="/transactions/new">Make a payment</a></li>
        </ul>
    </nav>
</header>